<!DOCTYPE html>

<html>
<head>

<title>Register - ReviewSense</title>

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='reviewsense.css') }}"
>

</head>

<body>

<nav>

<a href="/" class="logo">
    Review<span>Sense</span>
</a>

<div class="nav-links">

    <a
        href="/"
        class="btn-ghost"
    >
        Home
    </a>

    <a
        href="/login-page"
        class="btn-solid"
    >
        Login
    </a>

</div>

</nav>

<div class="container">

<div class="card">

    <h2>
        Create Account
    </h2>

    <p>
        Start managing your online reputation with AI.
    </p>

    <form
        method="POST"
        action="/register-page"
    >

        <div class="field">

            <label>
                FULL NAME
            </label>

            <input
                type="text"
                name="name"
                required
            >

        </div>

        <div class="field">

            <label>
                EMAIL
            </label>

            <input
                type="email"
                name="email"
                required
            >

        </div>

        <div class="field">

            <label>
                PASSWORD
            </label>

            <input
                type="password"
                name="password"
                required
            >

        </div>

        <button
            type="submit"
            class="btn-submit"
        >
            Create Account
        </button>

    </form>

    <br>

    <p style="text-align:center">

        Already have an account?

        <a
            href="/login-page"
            style="color:#8B7CF8;text-decoration:none"
        >
            Login
        </a>

    </p>

</div>

</div>

</body>
</html>
